name: Automatisation des tests
on: push
jobs:
  Compilation:
    runs-on: ubuntu-latest
    steps:
      - name: Compilation
        run: |
          last_directory=src
          git clone https://github.com/Flappyxx/Atelier_CMAKE.git
          cd ./$last_directory
          mkdir build
          cd build
          cmake ..
          make
          make test